// SPDX-License-Identifier: AGPL-3.0-only

// The tip suggestions page of a creator.

.creator-tip-suggestions
{
    @include center-content;
    @include creator-tabs-content-margin;

    // We use absolute positioning for the QR code.
    // By configuring the parent to use relative positioning,
    // the QR code will be positioned within the parent
    // rather than absolutely within the page.
    position: relative;

    margin-bottom: size(1rem);

    & > .-tutorial,
    & > .-tip-suggestions,
    & > .-tip-address,
    & > .-fine-print,
    & > .-tip-suggestions > .-qr-code
    {
        // Divide the page into two columns 50/50.
        // Text and buttons left, QR code right.
        width: calc(50% - #{size(1rem) / 2});
    }

    & > .-tutorial,
    & > .-tip-address,
    & > .-fine-print
    {
        @include rich-text;
    }

    & > .-tip-address,
    & > .-fine-print
    {
        border-top: dashed 1px var(--subtle-highlight-color);
        margin-top: size(0.5em);
        padding-top: calc(#{size(0.5em)} - 1px);
    }

    & > .-fine-print
    {
        color: var(--fine-print-color);
        font-size: 0.8em;
        line-height: size(1rem);
    }

    & > .-tip-address > code
    {
        display: block;
        word-break: break-all;
    }

    & > .-tip-suggestions
    {
        // This allows us to nicely flow the amount buttons
        // and to put a consistent amount of whitespace between them.
        display: flex;
        flex-wrap: wrap;
        gap: size(0.25rem);

        padding: size(0.5rem) 0;

        & > .-label
        {
            background: var(--primary-color);
            border-radius: size(0.5em);
            color: white;

            cursor: pointer;

            padding: 0 size(0.5em);

            font-weight: bold;
            line-height: size(1em);

            display: inline-block;
        }

        & > .-qr-code
        {
            // Hide the QR code until the associated radio button is checked.
            // This is restored in the ‘.-radio:checked + .-label + .-qr-code’
            // selector elsewhere in this style sheet.
            display: none;

            // Put the QR code next to the amount selection.
            position: absolute;
            top: 0;
            right: 0;

            // Use nearest neighbor scaling for QR codes.
            // There are two similar options: crisp-edges and pixelated.
            // Mozilla Developer Network says:
            // > Although crisp-edges is supposed to use a pixel-art scaler
            // > like in the specification example, in practice no browsers
            // > (as of January 2020) does so.
            // > In Firefox, crisp-edges is interpreted as nearest-neighbor,
            // > pixelated is not supported.
            image-rendering: crisp-edges;
        }

        & > .-radio
        {
            display: none;

            // When checked, highlight the label and display the QR code.
            &:checked
            {
                & + .-label { background: var(--secondary-color); }
                & + .-label + .-qr-code { display: inline; }
            }
        }
    }
}
