// Big banner at the top of a creator’s page.
// Shows their banner image, name, and biography.

.creator-banner
{
    background-image:
        linear-gradient(transparent, #00000099),
        var(--creator-banner-image);
    background-size: cover;
    background-position: center 75%;

    padding-top: size(4rem);
    padding-bottom: size(1rem);

    color: white;
    text-shadow: 0 2px 20px black;

    & > .-name
    {
        @include center-content;

        font-size: 2rem;
        font-weight: bold;
        line-height: size(1em);
    }

    & > .-biography
    {
        @include center-content;

        font-weight: bold;
        line-height: size(1em);
    }
}
