*
{
    /* I forgot why I always do this. */
    box-sizing: border-box;
}

body
{
    /* Color scheme. */
    --primary-color: #001AA5;
    --secondary-color: orange;
    --subtle-highlight-color: #EEEEEE;

    /* This is used for line heights and paddings.
       It must be slightly larger than 1rem. */
    --size-unit: 1.61803rem;

    /* Width of the page content. */
    --content-width: 960px;

    /* This may be overridden by the page using a style attribute. */
    --creator-banner-image: url("/static/default-creator-banner-image.jpg");

    background-color: white;

    /* The following displays a horizontal grid
       that helps vertically align text.
       You can toggle it on/off in the inspector. */
    /*
    background-image:
        linear-gradient(
            transparent 0,
            transparent calc(var(--size-unit) - 1px),
            silver      calc(var(--size-unit) - 1px),
            silver      calc(var(--size-unit))
        );
    */
    background-size: 1px var(--size-unit);

    color: black;
    font-family: "Roboto", sans-serif;
}

/* This is the bar at the top of the page.
   It contains instance-wide navigation. */
.page-header
{
    background: var(--primary-color);
    padding: calc(0.5 * var(--size-unit));
}

/* Title of the instance that links to home. */
.page-header > .-instance-title
{
    color: white;
    font-weight: bold;
    line-height: var(--size-unit);
    text-decoration: none;
}

/* Big banner at the top of a creator’s page.
   Shows their banner image, name, and biography. */
.creator-banner
{
    background-image:
        linear-gradient(transparent, #00000099),
        var(--creator-banner-image);
    background-size: cover;
    background-position: center 75%;
    padding-top: calc(4 * var(--size-unit));
    padding-bottom: var(--size-unit);

    color: white;
    text-shadow: 0 2px 20px black;
}

.creator-banner > .-name
{
    font-size: 2rem;
    font-weight: bold;
    line-height: calc(2 * var(--size-unit));

    /* Center the content on the page. */
    margin: 0 auto;
    width: var(--content-width);
}

.creator-banner > .-biography
{
    font-weight: bold;
    line-height: var(--size-unit);

    /* Center the content on the page. */
    margin: 0 auto;
    width: var(--content-width);
}

/* These are the tabs under the creator’s banner
   that link to the posts, tips, and tiers. */
.creator-tabs
{
    background: var(--subtle-highlight-color);
    display: flex;
    justify-content: center;
    margin-bottom: var(--size-unit);
}

.creator-tabs > a
{
    color: var(--primary-color);
    font-weight: bold;
    line-height: var(--size-unit);
    margin: 0 calc(3 * var(--size-unit));
    padding: calc(0.5 * var(--size-unit)) var(--size-unit);

    /* Bottom padding must be 2px less
       to compensate for the border
       added with the -selected class. */
    padding-bottom: calc(0.5 * var(--size-unit) - 2px);

    text-decoration: none;
}

.creator-tabs > a.-selected
{
    border-bottom: solid 2px var(--secondary-color);
}

.creator-posts
{
    /* Center the content on the page. */
    margin: 0 auto;
    width: var(--content-width);
}

.creator-posts > article:not(:first-child)
{
    border-top: dashed 1px var(--subtle-highlight-color);

    /* Subtract 1px to compensate for the border. */
    padding-top: calc(var(--size-unit) - 1px);
}

.creator-posts > article > .-header > h1
{
    font-size: 2rem;
    font-weight: bold;
    line-height: calc(2 * var(--size-unit));
}

.creator-posts > article > .-content
{
    line-height: var(--size-unit);
    margin-bottom: var(--size-unit);
}

.creator-posts > article > .-attachments
{
    line-height: var(--size-unit);
    margin-bottom: var(--size-unit);
}

.creator-tip-suggestions
{
    display: flex;
    gap: var(--size-unit);
    flex-wrap: wrap;
    justify-content: center;

    /* Center the content on the page. */
    margin: 0 auto;
    width: var(--content-width);

    /* Otherwise it hits the bottom of the screen. */
    margin-bottom: var(--size-unit);
}

/* This is the explanation of what tips are. */
.creator-tip-suggestions > .-tutorial
{
    line-height: var(--size-unit);
    text-align: center;
    width: var(--content-width);
}

.creator-tip-suggestions > .-tutorial > strong
{
    font-weight: bold;
}

.creator-tip-suggestions > article
{
    border: dashed 3px var(--subtle-highlight-color);
    border-radius: var(--size-unit);
    padding: var(--size-unit) 0;
    text-align: center;
}

.creator-tip-suggestions > article:hover
{
    border-color: var(--primary-color);
    border-style: solid;
}

/* QR codes are annoying to look at, so dim them if unnoticed.
   Also dim the addresses as it looks nicer that way. */
.creator-tip-suggestions > article:not(:hover) > .-qr-code,
.creator-tip-suggestions > article:not(:hover) > .-address
{
    opacity: 0.1;
}

.creator-tip-suggestions > article > .-header
{
    font-size: 2rem;
    font-weight: bold;
    line-height: calc(2 * var(--size-unit));
}

.creator-tip-suggestions > article > .-header > .-title,
.creator-tip-suggestions > article > .-header > .-amount
{
    display: inline;
}

.creator-tip-suggestions > article > .-header > .-amount
{
    background: var(--primary-color);
    border-radius: var(--size-unit);
    color: white;
    margin-left: calc(0.5 * var(--size-unit));
    padding: 0 calc(0.5 * var(--size-unit));
}

.creator-tip-suggestions > article > .-address
{
    font-family: monospace;
    word-break: break-all;

    /* Center the content within the box. */
    margin: 0 auto;
    width: calc(var(--content-width) / 3);
}

.creator-tiers
{
    /* Center the content on the page. */
    margin: 0 auto;
    width: var(--content-width);
}

.creator-tiers > article:not(:first-child)
{
    border-top: dashed 1px var(--subtle-highlight-color);

    /* Subtract 1px to compensate for the border. */
    padding-top: calc(var(--size-unit) - 1px);
}

.creator-tiers > article > .-header > h1
{
    font-size: 2rem;
    font-weight: bold;
    line-height: calc(2 * var(--size-unit));
}

.creator-tiers > article > .-description
{
    line-height: var(--size-unit);
    margin-bottom: var(--size-unit);
}

.creator-tiers > article > .-footer
{
    display: flex;
    justify-content: space-between;
    line-height: var(--size-unit);
    margin-bottom: var(--size-unit);
}

.creator-tiers > article > .-footer > .-subscribers
{
    font-weight: bold;
}

.creator-tiers > article > .-footer > .-subscribe
{
    background: var(--primary-color);
    border-radius: calc(0.5 * var(--size-unit));
    color: white;
    font-weight: bold;
    padding: 0 calc(0.5 * var(--size-unit));
    text-decoration: none;
}

.creator-tiers > article > .-footer > .-subscribe:hover
{
    background: var(--secondary-color);
}
